<div class="modal fade" id="widthdrawModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Withdraw?</h5>

            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    @Html.Label("Remarks", new { @class = "requiredLabel" })
                    @Html.TextArea("Remark", new { @class = "form-control required" })
                    <label id="lblError" class="adderror"></label>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" onclick="withdrawComplaintForSubmission()">Withdraw</a>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
