
@{
    ViewBag.Title = "Alertmail";
}

<h2>Alertmail</h2>
<div style="background-color:white">
    <div>
        <a href="~/Home/mailDue">Mail Due Alert</a>
        <br />
        <a href="~/Home/mailOverdue">Mail OverDue Alert</a>
        <br />
        <a href="~/Home/Escelation1">Mail OverDue2 Alert</a>
        <br />
        <a href="~/Home/Escelation2">Mail Escelation1 Alert</a>
        <br />
        <a href="~/Home/Escelation3">Mail Escelation2 Alert</a>

    </div>
</div>
